{% extends 'base.html.twig' %}

{% block title %}Ingredients{% endblock %}

{% block body %}
    <div>
        <h1>Ingredients</h1>
    </div>
    <div class="container">
        <div class="row-flex">
            {% for ingredient in ingredients %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('ingredient.show', {id: ingredient.id, slug: ingredient.slug}) }}">{{ ingredient.name }}</a>
                            </h5>
                            <div class="text-primary">{{ ingredient.description }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock body %}