{% extends 'base.html.twig' %}

{% block title %}Create{% endblock %}

{% block adminNav %}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h2>Création d'une recette</h2>
        {{ include ('admin/recipe/_form.html.twig', {form: form, button: 'Créer'}) }}
    </div>
{% endblock body %}