{% extends 'base.html.twig' %}

{% block adminNav %}{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-8">
                 
                </div>
                <div class="col-md-8">
                    <h1>{{ recipe.name }}</h1>
                    <h2>{{ recipe.description }}</h2>
                </div>
            </div>
        </div>
    </div>
   
    <div class="row">
        <div class="col-md-8">
            
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}